<div>
  <button (click)="navegarATechcamp()">Ir a Techcamp</button>
</div>

<h1>Lista de Elementos</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let elemento of elementos">
      <td>{{ elemento.id }}</td>
      <td>{{ elemento.nombre }}</td>
      <td>
        <button (click)="mostrarDetalle(elemento)">Mostrar Detalle</button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="detalleElemento">
  <div class="detalle">
    <h2>Detalle del Elemento</h2>
    <p>ID: {{ detalleElemento.id }}</p>
    <p>Nombre: {{ detalleElemento.nombre }}</p>
    <button class="cerrar" (click)="cerrarDetalle()">X</button>
  </div>
</div>
